.title {
  /* background-color: coral; */
  color: var(--textColor);
  padding: 15px 20px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 10px;
  font-size: 25px;
}

.content {
  display: flex;
  gap: 50px;
}

.mobiles {
  background-color: #5e63f020;
}

.laptop {
  background-color: #00000060;
}

.smartwatch {
  background-color: #ffe10020;
}

.others {
  background-color: #83cd2920;
}

.earphone {
  background-color: #02b7ff20;
}
