.title {
  /* background-color: coral; */
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 10px;
}

.content {
  display: flex;
  gap: 50px;
}

.reactjs {
  background-color: #5e63f020;
}

.nextjs {
  background-color: #00000060;
}

.javascript {
  background-color: #ffe10020;
}

.nodejs {
  background-color: #83cd2920;
}

.typescript {
  background-color: #02b7ff20;
}

.css {
  background-color: #02b7ff20;
}
